body{
    background-color:#EAF6f6;
}
hr{
    border-style: none ;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}
.yami{
    background-color: gold;
}
h3
{
    color: #66bfbf;
}
h2
{
    color: #66bfbf;
}
img:hover{
    background-color: blue;
    size: 100px;
}